

.App {
  background-image:url('./images/tat_img.png');
  text-align: center;
  /* padding: 50px 100px 0px 100px; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  /* position:fixed;  */
  top: 0; 
  width: 100%; 
}

.nav-tab {
  margin-bottom: 50px;
}

.active-tab{
  background-color: #fed40f;
  color: black;
}

h1 {
  color: #fed40f;
}

.footer-text {
  color: black;
}

h2 {
  color: black;
  font-weight: 600;
}

.logo {
  margin: 30px 0px;
  background-blend-mode: overlay;
}

p {
  color: #fed40f;
}

.content-container {
  border: solid #111 3px;
  background-color: #333;
  width: 150px;
  margin-top: 5px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
    
}

.content-container-active {
  border: solid #111 3px;
  background-color: #777;
  color:#333;
  width: 150px;
  margin-top: 5px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.link {
  text-decoration: none;
}

.display-one-container {
  /* background-color: #444; */
  border: solid #fed40f 2px;
  width: 50%;
  height: 100%;
  margin: auto;
  margin-left: 260px;
  padding: 100px;
}

.movie-display-one-container {
    
    width: 50%;
    height: 100%;
    margin: auto;
    padding-right: 160px; 
  }


.display-flex {
  display: flex;
  margin: 30px 0px 120px 0px;
  padding: 50px;
}

.display-one-text {
  color: #999;
  font-weight: 800;
}

.movie-title {
  color: #fed40f;
  text-decoration: underline;
}

.name-style {
  color: #fed40f;
  text-decoration: underline;
  margin-bottom: 30px;
}

/* .errors {
  color: red;
} */

footer {
  border-top: solid black 1px ;
  display: flex;
  align-items:center;
  justify-content: space-evenly;
  padding: 50px 0px;
  /* width: 85%; */
  margin: auto;
  background-color: white;
  color: black;
  width: 100%;

}

.list {
  list-style: none;
}

.list-label {
  font-weight: bold;
}

.page-counter-div {
  display:flex;
  justify-content:left;
  width: 150px;
  margin-right: 25px;
  padding-bottom: 15px;
}

.nav-button {
  background-color: #111 ;
  color: #fed40f;
}